<div class="product-extra"> 
  <div id="socialProof">
    <div class="fb-like" data-href="https://www.facebook.com/solawoodflowers" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
  </div>
</div>
